#################### GLOGAL CONFIG SECTION

# title = ""

baseURL = "https://docs.opennebula.io/7.0/"

#######

capitalizeListTitles = "false"
titleCaseStyle = "none"

# relativeURLs = true
# canonifyURLs = true

#################### END GLOGAL CONFIG SECTION
# Global parameters below this point are ignored by Hugo

# Configure how URLs look like per section.
[permalinks]
blog = "/:section/:year/:month/:day/:slug/"

# You can add your own taxonomies
[taxonomies]
tag = "tags"
category = "categories"

[params.taxonomy]
# set taxonomyCloud = [] to hide taxonomy clouds
taxonomyCloud = ["tags", "categories"]

# If used, must have same length as taxonomyCloud
taxonomyCloudTitle = ["Tag Cloud", "Categories"]

# set taxonomyPageHeader = [] to hide taxonomies on the page headers
taxonomyPageHeader = ["tags", "categories"]


[params.ui]
#  Set to true to disable breadcrumb navigation.
breadcrumb_disable = false
# Set to false if you don't want to display a logo (/assets/icons/logo.svg) in the top navbar
navbar_logo = true
# Set to true if you don't want the top navbar to be translucent when over a `block/cover`, like o>
navbar_translucent_over_cover_disable = false
# Enable to show the side bar menu in its compact state.
sidebar_menu_compact = false
sidebar_menu_foldable = true
ul_show = 3
# Set to true to hide the sidebar search box (the top nav search box will still be displayed if se>
sidebar_search_disable = true
showLightDarkModeMenu = true

# Adds a reading time to the top of each doc.
# If you want this feature, but occasionally need to remove the Reading time from a single page,
# add "hide_readingtime: true" to the page's front matter
[params.ui.readingtime]
enable = false

[[cascade]]
   [cascade.params]
      hide_feedback = true
   [cascade.target]
      kind = 'section'
[[cascade]]
   # for the time being set all pages to page type "docs"
   [cascade.params]
      type = 'docs'
   [cascade.target]
      path = '{/product/**,/getting_started/**,/software/**,/solutions/**,/integrations/**}'


[params.links]
# End user relevant links. These will show up on left side of footer and in the community page if >
[[params.links.user]]
  name = "OpenNebula Newsletter - Updates on releases, events, tutorials..."
  url = "https://opennebula.io/subscribe-to-opennebula-newsletter/"
  icon = "fa fa-envelope"
  desc = "Updates on new releases, community events, tutorials, workshps, webinars..."
[[params.links.user]]
  name ="OpenNebula on X"
  url = "https://x.com/opennebula/"
  icon = "fab fa-x-twitter"
  desc = "Follow OpenNebula on X"
[[params.links.user]]
  name = "OpenNebula on YouTube - Webinars, demos and more"
  url = "http://www.youtube.com/opennebula"
  icon = "fa fa-play"
  desc = "Webinars, video tutorials, demos and more"
[[params.links.user]]
  name = "OpenNebula on GitHub - Sources and wikis"
  url = "https://github.com/OpenNebula"
  icon = "fab fa-github"
  desc = "Development takes place here!"
[[params.links.user]]
  name = "OpenNebula on Bluesky"
  url = "https://bsky.app/profile/opennebula.bsky.social"
  icon = "fab fa-bluesky"
  desc = "Follow OpenNebula on Bluesky"
[[params.links.user]]
  name = "OpenNebula on Facebook"
  url = "https://www.facebook.com/p/OpenNebula-100057184252936/"
  icon = "fab fa-facebook"
  desc = "Follow OpenNebula on Facebook"
[[params.links.user]]
  name = "OpenNebula on LinkedIn"
  url = "https://www.linkedin.com/company/opennebula"
  icon = "fab fa-linkedin"
  desc = "Follow OpenNebula on LinkedIn"



[menu]
  [[menu.main]]
    name = "Getting Started"
    url = "/getting_started"
    weight = 1
  [[menu.main]]
    name = "Product"
    url = "/product"
    weight = 5
  [[menu.main]]
    name = " Solutions"	# Space added intentionally to prevent Hugo from changing page type
    url = "/solutions"
    weight = 10

[params]
no_list = true
# Uncomment this if your GitHub repo does not have "main" as the default branch,
# or specify a new value if you want to reference another branch in your GitHub links
github_branch= "one-7.0"
github_repo = "https://github.com/OpenNebula/website/"
enableGitInfo = true
# Google Custom Search Engine ID. Remove or comment out to disable search.
# gcs_engine_id = "533000100d06b46c0"
offlineSearch = true
offlineSearchSummaryLength = 800

### Version variables
# The short X.Y version
version = "7.0"
# The full version, including alpha/beta/rc tags
release = "7.0"
# Docs version is part of the URL & invoked by the alert shortcode
# Setting here in case it ever needs to differ from SW version
docs_version = "7.0"


  # Add your release versions here
version_menu = "Versions"
  # Development version, uncomment when ready
  #[[params.versions]]
  #  version = "Development"
  #  url = "https://docs.opennebula.io/7.99/"

  #devel is for master branch
  [[params.versions]]
    version = "devel"
    url = "https://docs.opennebula.io/devel/"

  [[params.versions]]
    version = "v7.0"
    url = "https://docs.opennebula.io/7.0/"

  [[params.versions]]
    version = "v6.10"
    url = "https://docs.opennebula.io/6.10/"

[module]
  proxy = "direct"
  # uncomment line below for temporary local development of module
  # replacements = "github.com/google/docsy -> ../../docsy"
  [module.hugoVersion]
    extended = true
    min = "0.73.0"
  [[module.imports]]
    path = "github.com/google/docsy"
    disable = false
  # later additions:
  [[module.imports]]
    path = "github.com/hugomods/swagger-ui"
    disable = false
  [[module.mounts]]
    source = 'assets'
    target = 'assets'
  [[module.mounts]]
    source = 'static'
    target = 'assets'
  #[[module.mounts]]
  #  source = 'images'
  #  target = 'static/images'

# added the user feedback module
[params.ui.feedback]
enable = true
feedback_question = 'We value your feedback. Was this page helpful?'
yes = 'Glad to hear it'
no = 'Sorry to hear that'

[markup]
  defaultMarkdownHandler = 'goldmark'
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true
    [markup.goldmark.extensions.extras]
      enable = true
    [markup.goldmark.parser]
      autoHeadingID = true
      parser.autoHeadingIDType = "github"
      [markup.goldmark.parser.attribute]
        block = true
        title = true

[outputs]
home = ["HTML", "JSON"]

[outputFormats.JSON]
mediaType = "application/json"
baseName = "source-map"
isPlainText = true