
// _content.scss
// Markdown headings
.td-content {
 > h1 {
    font-weight: $font-weight-bold;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

  > h2 {
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

  > h2:not(:first-child) {
    margin-top: 3rem;
  } 
}

.td-card-group.card-group {
  @extend .td-max-width-on-larger-screens;
}

// card.scss
// ./_vendor/github.com/twbs/bootstrap/scss/_card.scss

.card {
  card-border-radius: 12px;

  .card-header {
    font-size: 1.2rem;
  }

/*
  .card-body {
    font-size: 1.2rem;
  }
*/
}

/**
* This file defines all the styles that need to change between and there is no difference between dark and light mode
*/

// Navbar
.td-navbar {
  background-color: #005675;
}

// Sidebar
.td-sidebar-nav .td-sidebar-link.tree-root {
  border-bottom-width: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

// Footer
.td-footer {
  background-color: #181921;
}

// Cards
.td-card {
  border-color: #8F9392 !important;
}
.td-navbar .td-search__input {
  border-style: solid;
  border-width: 1px;
}  
.td-navbar .td-search__input:hover {
  border-style: solid;
  border-width: 1px;
}  

// Alerts
.alert {
  border-left-width: 3px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

// Markdown headings
.td-content {
 > h1 {
    font-weight: $font-weight-bold;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

  > h2 {
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

  > h2:not(:first-child) {
    margin-top: 3rem;
  } 
}

.td-card-group.card-group {
  @extend .td-max-width-on-larger-screens;
}
// Tags
.tag-back {
  cursor: pointer;
}
