@import "footer/_styles_project_breakpoints_footer";
@import "sidebar-tree/_styles_project_breakpoints_sidebar-tree";
@import "toc/_styles_project_breakpoints_toc";


[role="main"] {
  padding-left: 16px !important;  
  width: 100% !important;
  padding-right: 0 !important;

  @include media-breakpoint-up(sm) {
    padding-left: 16px !important;
    width: 100% !important;
  }
  @include media-breakpoint-up(md) {
    padding-left: 16px !important;
    width: 100% !important;
  }
  @include media-breakpoint-up(lg) {
    padding-left: 16px !important;
    width: 58.33333333% !important;
    margin-right: 8.33333333% !important;
  }
  @include media-breakpoint-up(xl) {
    padding-left: 32px !important;
    width: 58.33333333% !important;
    margin-right: 8.33333333% !important;
  }
}

.td-sidebar {

  display: none !important;
  
  @include media-breakpoint-up(sm) {
    display: none !important;
  }

  @include media-breakpoint-up(md) {
    display: none !important;
  }
  @include media-breakpoint-up(lg) {
    display: block !important;
    width: 16.66666667% !important;
  }
  @include media-breakpoint-up(xl) {
    display: block !important;
    width: 16.66666667% !important;
  }
}

.td-sidebar-toc {
  
  display: none;
  
  @include media-breakpoint-up(sm) {
    display: none !important;
  }

  @include media-breakpoint-up(md) {
    display: none !important;
  }
  @include media-breakpoint-up(lg) {
    display: block !important;
    width: 16.66666667% !important;
  }
  @include media-breakpoint-up(xl) {
    display: block !important;
    width: 16.66666667% !important;
  }
}
