/**
* This file defines all the styles that need to change between dark and light modes
*/

// ****************** Dark mode ****************** 
@include color-mode(dark) {

  --headings-color: #FFF;
  --body-color: #C4CDD5;
  --body-disabled-color: #878F95;
  --link-color: #58D2FF;
  --link-hover-color: #7CDCFF;

  --border-color: #DEE2E6;

  --card-background-color: #F5F7F9;
  --card-background-border-color: #E0E4E7;

  --breadcrumb-icon-color: #1393C2;
  --breadcrumb-link-color: #1393C2;

  --footer-background-color: #FFF;  

  // Display dark logo
  .logo-light { display: none; }
  .logo-dark { display: block; }

  // Main container
  .td-main {
    background-color: #222431;
  }

   // Entry in section-index.html template
  .entry {
    background: #222431;
    border-color: #222431;
    border-width: 1px;
  }

  // Feedback section
  .panel-line  {
    color: #4A4F6B;
  }

  // Buttons
  .btn-primary {
    background-color: #2A2D3D;
    color: #EBEBEB;
    border-color: #8F9392;
    background-image: none;
  }
  .btn-primary:hover {
    background-color: #35384D;
    color: #EBEBEB;
    border-color: #F5F5F5;
    background-image: none !important;
  }  

  // Tags
  .tag-back {
    color: #83A1BB;
  }

  // Pager
  .one-pager {
    color: #E9E9E9;
  }
  .one-pager:hover {
    color: #40B3D9;
  }

}

// ****************** Light mode ****************** 
@include color-mode(light) {

  --background-color: #FFF;

  --headings-color: #40435C;
  --body-color: #637381;
  --body-disabled-color: #B2B9BE;
  --link-color: #1393C2;
  --link-hover-color: #007099;

  --border-color: #DEE2E6;

  --card-background-color: #F5F7F9;
  --card-border-color: #E0E4E7;  
  --card-titles-font-color: #1393C2;

  --breadcrumb-icon-color: #1393C2;

  --alert-info-border-color: #1B4079;
  --alert-info-font-color: #1B4079;  
  --alert-info-background-color: #F2F7FF;
  --alert-info-icon-color: #1B4079;

  --alert-warning-border-color: #FF6E1F;
  --alert-warning-font-color: #AD3D00;  
  --alert-warning-background-color: #FFF0E8;
  --alert-warning-icon-color: #FF6E1F;

  --alert-danger-border-color: #FF5779;
  --alert-danger-font-color: #FF5779;  
  --alert-danger-background-color: #FFEAEE;
  --alert-danger-icon-color: #FF5779;

  --alert-tip-border-color: #2FB8EB;
  --alert-tip-font-color: #007099;  
  --alert-tip-background-color: #EAF9FF;
  --alert-tip-icon-color: #007099;

  --footer-background-color: #FFF;
  --footer-linkicon-color: #007099;

  --scrollbar-color: #E0E4E7;

  --sidebar-title-color: #40435C;

  --link-icon-background-color: #007099;
  --link-icon-color: #007099;

  --table-background-color: #FFF;
  --table-border-color: #E0E4E7;
  --table-code-border-color: #E0E4E7;
  --table-code-background-color: #FFF;

  --blockquote-border-color: #30638E;

  --code-font-color: #40435C;

  // Display light logo
  .logo-light { 
    display: block; 
  }
  .logo-dark { display: none; }

  // Main component
  .td-main {
    background-color: #FFFFFF;
  }

  // Entry in card-columns
  .entry {
    background: #ffffff !important;
    border-color: #ffffff !important;
    border-width: 0px !important;
  }


  // Feedback section
  .panel-line  {
    color: #C7C9C8;
  }

  // Buttons
  .btn-primary {
    background-color: #E5F5FA;
    color: #575C5B;
    border-color: #007099;
    background-image: none;
  }
  .btn-primary:hover {
    background-color: #DFE6F2;
    color: #575C5B;
    border-color: #0098C3;
    background-image: none !important;
  }

  // Tags
  .tag-back {
    color: #0d6efd;
  }

  // Pager
  .one-pager {
    color: #575C5B;
  }
  .one-pager:hover {
    color: #007099;
  }  

}
