
$td-enable-google-fonts: true;
$google_font_name: 'Inter';
$google_font_family: 'Inter:300,300i,400,400i,700,700i';

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

/* Improvised styles for index pages */
inl { 
    display: list-item;
    list-style: none outside none;
    margin: 0 0;
    padding: 0 0 0 40px;
}

ni {
  display: list-item;
  list-style: disc none;
  text-indent: 5%;
  margin: 0 0 0 30px;
} 

.td-breadcrumbs__single { display: none !important; }

/* Quick ad-hoc thing to center text on boxes in index pages */
bxctr {
  display: block;
  /* margin: 40 40 40 40; */
  margin: 40 40 40 40;
  padding: 30px 30px 30px 30px;
}

// Temporary for section-index.html
bxctrsp {
  display: block;
  /* margin: 40 40 40 40; */
  // margin: 80 80 80 80;
  // padding: 15px 2px 1px 50px;
  // padding: 45px 10px 15px 70px; // for h4
  padding: 0px 10px 15px 60px; // for h4
  margin-block-start: 2rem;
  margin-block-end: 2rem;
  margin-bottom: -1rem;
  margin-left: 2rem;
  //margin-top: 0rem;
  //margin-bottom: 0rem;
}

// Navbar text color
$navbar-dark-color: #F5F5F5;

// Buttons
$btn-border-radius: 96px;
$btn-padding-y: 8px;
$btn-padding-x: 24px;

// card columns
//$card-columns-margin: 10px !important;
$card-columns-gap: 10px !important;
$card-spacer-y: 10px;
$card-spacer-x: 10px;


