@import "../_styles_fonts";

// Center content
.feedback-container {
  display: block;  
  width: fit-content; 
  margin-left: auto;  
  margin-right: auto;
  text-align: center;
}

// Title font
.feedback--title {
  @include body-small;
  letter-spacing: 0;
}

// Question font
.feedback--question {
  @include h2-bold;
  font-weight: 700 !important;
}

.btn-primary.feedback--answer {
  background-color: var(--feedback-button-background-color);
  color: var(--feedback-button-color);
  border-radius: 6px;
  border: 1px solid var(--feedback-button-border-color);
  padding: 3px 8px 3px 8px;
}

.feedback--response {
  display: none;
  margin-top: 1em;
}

.feedback--response__visible {
  display: block;
}

// Feedback section
.panel-line  {
  color: var(--feedback-button-border-color);
}
