/**
* Styles for breadcrumb component that are not colors
*/

.td-sidebar-nav .td-sidebar-link.tree-root {
  border-bottom-width: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.td-sidebar {
  padding-bottom: 6rem;
}