.one-footer-main-container {
  @include media-breakpoint-up(lg) {
    min-height: 355px;
  }
}

// Max height for sidebar menu = 100% screen height - header height - title and description sidebar height - 10px margin
@media (min-width: 992px) {
    @supports (position: sticky) {
        .td-sidebar-nav.td-sidebar-nav--search-disabled {
            max-height: calc(100vh - 64px - 142px - 10px);
        }
    }
}




.td-sidebar {
  padding-left: 10px;

  @include media-breakpoint-up(xxl) {
    padding-left: 32px;
  }
}


.td-sidebar-nav__section-title.td-sidebar-nav__section.with-child {
  padding-left: 14px;
  
  @include media-breakpoint-up(xl) {
    padding-left: 20px;
  }
}

.td-sidebar-nav__section-title.td-sidebar-nav__section.without-child {
  padding-left: 14px;
  
  @include media-breakpoint-up(xl) {
    padding-left: 20px;
  }
}