@import "_styles_fonts";

.sidebar-description {
  @include body-small;
}

.td-sidebar-menu {
  padding-top: 14px;
  @include body-small-medium; 
  a {
    color: var(--headings-color);
    &:hover {
      color: var(--link-color);
    }
    &.active {
      font-weight: 700;
    }
  }
}

.ul-2 a {
  @include body-small;
}

.sidebar-title {
  margin-bottom: 8px;
}
.body-bold.sidebar-title {
  color: var(--sidebar-title-color);
}

.td-sidebar-nav__section-title.td-sidebar-nav__section.with-child {
  padding-left: 20px;
}

nav.foldable-nav .ul-1 .with-child > label::before {
  padding-left: 0;
}

.td-sidebar-nav .td-sidebar-link.tree-root {
  border-bottom-width: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.td-sidebar {
  padding-left: 32px;
}

// Scroll bar - Firefox
.td-sidebar-nav {
  scrollbar-width: thin;
  scrollbar-color: var(--Colors-border-primary, #E0E4E7) transparent;
}

// Scroll bar - Edge, Chrome and Safari
.td-sidebar-nav::-webkit-scrollbar {
  width: 4px;
}
.td-sidebar-nav::-webkit-scrollbar-track {
  background: transparent;
}
.td-sidebar-nav::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
  border-radius: 96px;
}

.td-sidebar-nav .td-sidebar-link__page {
  @include body-small-medium;
}