// /**
// * Styles for footer component that are not colors
// */

.one-footer-main-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.one-footer-content {
  padding-top: 28px;
  padding-bottom: 56px;
}

.one-footer-legal {
  padding-top: 28px;
  padding-bottom: 28px;
}

.one-footer-logo-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.one-footer-links-container {
  width: 100%;
}
.td-footer {
  background-color: #005675;
  padding-top: 0px;
}
body .one-footer-copyright {
  display: flex;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  border-top: #E0E4E733;
  border-top-style: solid;
  border-width: 1px;
}

body .one-footer-copyright p {
  color: #FFFFFF !important; 
  margin-top: 5px;;
  margin-bottom: 0px;;
}

/* Keep the specific selector for links */
body .one-footer-copyright  a { 
  color: #FFFFFF; 
  text-decoration: underline; 
}

body .one-footer-acks {
  display: flex;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  border-top: #E0E4E733;
  border-top-style: solid;
  border-width: 1px;

}

/* Use the ultra-specific selector for plain text */
body .one-footer-acks p {
  color: #FFFFFF !important; 
  margin-bottom: 7px;
}
  
/* Keep the specific selector for links */
body .one-footer-acks a { 
  color: #FFFFFF; 
  text-decoration: underline; 
}

.td-footer svg {
  // width: 220.68px;
  width: 331.02px;
  //height: 32.099px;
  height: 48.148px;
}
.td-footer p {
  color: #EDEDED;
}
.one-footer-logo {
  margin-top: 20px;
}
.one-footer-second-row {
  color: #EDEDED;
  //font-size: 19.063px;
  font-size: 16.203px;
  font-style: normal;
  font-weight: 600;
  line-height: 13.5px;
  margin-top: 40px;
}
.td-footer__center {
  padding-top: 20px;
}
.td-footer__links-list {
  display: flex;
  justify-content: space-between;
  width: 100%
}
.td-footer__links-item {
  margin: 0 60px;
  scale: 70%
}