@import "../_styles_fonts";

.td-footer {
  background-color: var(--footer-background-color);
  border-top: 1px solid var(--border-color);
  padding: 0;
  p {
    @include body-small;
    a {
      color: var(--link-color);
      &:hover {
        color: var(--link-hover-color);
      }
    }
  }
}

.one-footer-main-container {  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.one-footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.one-footer-left {
  margin-right: 546px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.footer-logo svg {
  width: 190px;
  height: 64px;
  margin-bottom: 24px;
}

.one-footer-tagline {
  margin-bottom: 32px;
}

.one-footer-links-container {
  color: var(--footer-linkicon-color);
}