<div class="section-index">
  {{ range .Page.Site.Sections.ByWeight }}
    
    <div class="td-content">
      <h2>
        <a href="{{ .RelPermalink }}">{{ .LinkTitle | default .Title }}</a>
      </h2>
    </div>
    
    {{ with .Description }}
      <div class="td-content">
        <p>{{ . }}</p>
      </div>      
    {{ end }}

    <div class="td-card card border me-4">
      <div class="card-columns">
        <div class="entry">
          {{ range .Pages.ByWeight }}
            <div class="card">
              <div class="card-header">
                <a href="{{ .RelPermalink }}">{{ .LinkTitle | default .Title }}</a>
              </div>
              <div class="card-body">
                {{ with .Description }}
                  <p>
                    <inl>{{ . }}</inl>
                  </p>
                {{ end }}
                {{ range .Pages.ByWeight }}
                  <inl>
                    <a href="{{ .RelPermalink }}">{{ .LinkTitle | default .Title }}</a>
                  </inl>
                {{ end }}
              </div>
            </div>
          {{ end }}        
        </div>
      </div>
    </div>

  {{ end }}
</div>